@import '../../styles/variables.scss';

.temperature {
  border-radius: $border-radius;
  outline: 1rem solid $color-black;
  padding: 70rem 100rem;

  h2 {
    font-size: 200rem;
    font-weight: 600;
    line-height: 1;
  }
  h4 {
    font-size: 40rem;
    font-weight: 700;
    margin: 10rem 0 68rem;
  }

  @media (max-width: 1440px) {
    padding: 50rem 35rem;
  }

  @media (max-width: 576px) {
    border-radius: 0;
    outline: none;
  }
}

.satisfied {
  background: $gradient-green;
}

.unsatisfied {
  background: $gradient-red;
}
